@font-face {
  font-display: swap;
  font-family: 'Phoshate';
  font-weight: 400;
  font-style: normal;
  src: url(/src/fonts/phosphate-solid.woff2) format("woff2")
}

:root {
  --primary: #702C7E;
  --secondary: #C4296C;
  --warning: #F4BA46;
  --disabled: #EFEFEF;
  --info: #0083B6;
  --danger: #DF3F3E;
  --action: #ED732E;
  --icon-path: path("M21.1308 0.205876C3.16962 0.756644 -9.93011e-05 15.352 0 24.9904C9.93057e-05 34.6289 1.41693e-06 32.5635 0.660292 41.5135C1.32058 50.4635 9.24465 57.3481 15.1877 58.725C21.1308 60.1019 41.8654 61.2034 48.2047 57.3481C56.1287 52.5288 58.7701 44.2673 59.4304 36.6942C60.0908 29.1212 61.4115 15.352 54.8081 7.77894C48.2047 0.205876 43.5824 -0.482584 21.1308 0.205876Z");
  --icon-path-small: path("M18.3134 0.178426C2.74701 0.655758 -8.60609e-05 13.3051 0 21.6584C8.6065e-05 30.0117 1.2517e-06 28.2217 0.572253 35.9783C1.14451 43.735 8.01203 49.7016 13.1627 50.895C18.3134 52.0883 36.2834 53.043 41.7774 49.7017C48.6449 45.525 50.9341 38.365 51.5064 31.8017C52.0787 25.2384 53.2233 13.3051 47.5003 6.74175C41.7774 0.178426 37.7714 -0.41824 18.3134 0.178426Z");
  --timer-path: path("M23.4345 0.00941546C14.6169 -0.0605857 6.1565 0.23937 4.25582 1.50957C0.462442 4.04463 0.194437 7.58863 0.0941354 8.91496L0.0941332 8.91498C0.0877883 8.99889 0.0821146 9.07391 0.0762616 9.13925C0.0485993 9.44802 0.00485617 10.2168 0 11.2557V11.6354C0.0124665 14.3177 0.29476 18.4723 1.64359 21.3467C3.61109 25.5396 7.16707 25.7249 13.6598 25.9245C16.1034 25.9997 19.6788 26.0169 23.4345 25.9826V26H31.5854V25.997C40.0272 26.036 47.9176 25.7116 49.7449 24.4904C53.5383 21.9554 53.8063 18.4114 53.9066 17.085C53.913 17.0011 53.9186 16.9261 53.9245 16.8608C53.9519 16.5551 53.995 15.7985 54.0006 14.7752V14.3335C53.9861 11.6502 53.7008 7.51666 52.3572 4.65327C50.3897 0.460355 46.8337 0.275119 40.3409 0.0754566C38.1195 0.00714388 34.9627 -0.0133128 31.5854 0.00932811V3.60506e-06H23.4345V0.00941546Z")
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1E1E1E;
  color: #C8C8C8;
}

a {
  text-decoration: none;
  color: inherit;
}